<body>
  <div class="hidden"><%- include('header') %></div>
  <header id="header-sectionww">
    <div class="flex justify-between w-full p-2">
      <img src="./uploads/logo/logo.png" class="w-64" alt="NovaWave Ltd" />
      <a href="/admin-login" class="text-lg text-center mt-2">Back to login</a>
    </div>
  </header>
  <h1><%= error %></h1>
</body>
