<%- include('header') %>

    <script>

      // Call the function to clear client-side data after a small delay
      setTimeout(clearClientSideData, 500); // Delay to ensure the page has loaded before clearing
    </script>
  </body>
</html>
